    @/angle:OPLSAA/048_048_049 @/atom:OPLSAA/*_b*_a048*_d*_i* @/atom:OPLSAA/*_b*_a048*_d*_i* @/atom:OPLSAA/*_b*_a049*_d*_i*
    @/angle:OPLSAA/048_048_048 @/atom:OPLSAA/*_b*_a048*_d*_i* @/atom:OPLSAA/*_b*_a048*_d*_i* @/atom:OPLSAA/*_b*_a048*_d*_i*
